body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: #444;
}

a {
  text-decoration: none;
  color: #444;
}

.container {
  width: 80%;
  margin: 0 auto;
}

li {
  list-style: none;
  object-fit: contain;
}

#nav {
  position: fixed;
  width: 80%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
}

.logo_nav {
  width: 27%;
  min-width: 26%;
  margin-top: -1%;
  z-index: 2;
  cursor: pointer;
  margin: 0;
}

.arrow {
  position: absolute;
  width: 1%;
  margin-left: 11%;
  margin-top: 4%;
  transform: rotate(-90deg);
}

.menu {
  position: relative;
  width: calc(100% - 80px);
}

.menu-item {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: all 0.3s ease;
  margin-top: 4%;
  margin-left: 4.5%;
  z-index: -1;
  font-size: 2px;
}

.menu.open .menu-item:nth-child(2) {
  transform: translateX(calc(100vw / 10 * 1));
  font-size: 22px;
  z-index: 5;
}

.menu.open .menu-item:nth-child(3) {
  transform: translateX(calc(100vw / 10 * 2));
  font-size: 22px;
  z-index: 5;
}

.menu.open .menu-item:nth-child(4) {
  transform: translateX(calc(100vw / 10 * 3));
  font-size: 22px;
  z-index: 5;
}

.menu.open .menu-item:nth-child(5) {
  transform: translateX(calc(100vw / 10 * 4));
  font-size: 22px;
  z-index: 5;
}

.menu.open .arrow {
  transform: rotate(90deg);
}

.hero {
  display: flex;
  justify-content: center;
  padding-top: 12%;
}

.hero_who {
  width: 60%;
  z-index: -10;
  height: 60%;
}

.sub_hero {
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
}

.txt1 {
  width: 60%;
  font-size: 1.2rem;
  margin-top: 15%;
  text-align: right;
  min-width: 40%;
  margin-right: -10%;
  z-index: 2;
  text-align: center
}

.plus {
  padding: 10%;
}

.safety_run {
  width: 40%;
  margin-top: -10%;
  height: 40%;
}

#footer {
  bottom: 20px;
  position: fixed;
  display: block;
  width: 100%;
  z-index: 5;
}

.footer_brand {
  background: #fff;
}

.footer_logo {
  width: 3%;
  min-width: 3%;
  background: #fff;
}

.footer_contact {
  margin-top: 1.2%;
  background: #fff;
}

.gfooter {
  margin: 2%;
  background: #fff;
}

.gfooter_brand {
  background: #fff;
  padding-left: 42%;
  display: inline;
  font-size: 23px;
}

.gfooter_logo {
  width: 3%;
  min-width: 3%;
  background: #fff;
  float: left;
  padding-bottom: 20px;
}

.gfooter_contact {
  background: #fff;
  float: right;
  display: inline;
  font-size: 23px;
}

.footercontent {
  height: 100px;
  background-color: blue;
}

.horizontal-rule {
  border-top: 2px solid black;
  padding-bottom: 20px;
}

.yacine img,
.lou img {
  max-width: 473px;
  max-height: 700px;
  width: auto;
  height: auto;
}

.affiches img:first-child {
  max-width: 493px;
  max-height: 700px;
  width: auto;
  height: auto;
}

.affiches img:last-child {
  max-width: 501px;
  max-height: 700px;
  width: auto;
  height: auto;
}

#fullPage {
  width: 80%;
  margin: auto;
}

.lou,
.affiches {
  float: right;
  padding-top: 5%;
}

.yacine {
  float: left;
  padding-top: 5%;
}

.fp-tooltip.fp-right {
  color: black !important;
  font-weight: bold;
}

.mainShop {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 15%;
}

.wip {
  font-size: 1.7rem;
  margin-top: 3%;
}

.wipPicture {
  width: 19%;
  height: inherit;
}

.desc {
  float: left;
  margin-top: 23%;
  margin-left: 5%;
  font-size: 25px;
}

.desc2 {
  float: right;
  margin-top: 23%;
  margin-left: 5%;
  font-size: 25px;
}

@media screen and (min-width: 320px) and (max-width: 812px) {

  .wipPicture {
    width: 40%;
    margin-top: 15%
  }

  .wip {
    font-size: 1.5rem
  }

  .logo_nav {
    text-align: center;
    width: 40%;
  }

  .menu-item {
    display: none;
  }

  .hero_who {
    height: 80%;
    width: 100%;
    margin-top: 20px;
    z-index: -10;
  }

  .txt1 {
    width: 100%;
    height: 80%;
    text-align: justify;
  }

  .sub_hero {
    display: block;
    margin-top: 25%;
    text-align: center;
  }

  .safety_run {
    height: 100%;
    width: 80%;
    margin-top: 5px;
    display: inline;
  }

  .footer_logo {
    width: 40%;
    height: 40%;
    text-align: center;
  }

  .footer_logo+p {
    width: 100%;
    height: 40%;
    text-align: right;
  }
}

@media screen and (min-width: 813px) and (max-width: 1400px) {
  .hero_who {
    height: 80%;
    z-index: -10;
  }

  .sub_hero {
    display: flex;
    justify-content: space-around;
    margin-top: 11%;
    height: 80%;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1920px) {
  .hero_who {
    height: 60%;
    z-index: -10;
  }

  .sub_hero {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    height: 60%;
  }
}